body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h4{
  font-family: Montserrat;
}
h6{
  font-family: Ubuntu;
}
h1,h2,h3,h4,h5,h6,i,p{
  font-style:normal;
}




/* navbar */
  .navbar{
  background-color:#055D80;
  width: 100%;
  }
  .navbar-brand{
  padding-left:21.46%;
  }
  .collapse .form-inline a :hover{
  transform: scale(1.1);
  }
  .menu:hover{
  transform: scale(1.1);
  }
  .collapse .form-inline li{
    list-style: none;
    color: white;
  }
  .form-inline a{
  margin-bottom: -15px;
  }
  .form-inline li{
  list-style: none;
  }
  .collapse .form-inline li p{
  color: white;
  font-size: 13px;
  }
  .form-inline{
  padding-right: 27.34%;
  }
  p{
    width:100%;
    font-size: 9.56px;
    color: black;
    line-height: 1rem;
  }
  .collapse ul li{
    width:267.8px;
    height: 29.98px;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .fa-search{
    font-size: 10px;
    color: #777;
  }
  input[type="max-search"]{
    flex: 1;
    border: none;
    outline: none;
    font-size: 13px;
  }
  .brand{
    width:95.28px;
    height:37.31px;
    margin-right:5.65px;
  }
  .profile1{
    margin-left:68.54px;
  }
  .profile2{
    width:17.98px;
    height:23px;
    margin-left:5px;
  }
  .network1{
    margin-left:27px;
  }
  .network2{
    width:29.02px;
    height:23px;
    margin-left:5px;
  }
  .chat1{
    margin-left:27px;
    }
  .chat2{
    width:21.76px;
    height:23px;
    margin-left:0px;
      }
  .blog3{
    margin-left:27px;
  }
  .blog4{
    width:21.76px;
    height:23px;

  }
  .settings1{
    margin-left:27px;
  }
  .settings2{
    width:21.76px;
    height:23px;
    margin-left:3px;
  }
  .pro{
    border-radius: 50px 50px 50px 50px;
    width:40.26px;
    height:40.26px;
  }
  button[type="button"]{
   border-radius: 50px 50px 50px 50px;
   margin-top:10px;
   width:;
  }
  /* navbarend */



.secound{
  margin-right: 18.66%;
display: inline-block;
width:16.65%;
background-color:#e6e6e6;
float: right;
}
.main1{
  width: 100%;
}
.middle{
padding-left: 0px;
margin-right: 0px;
margin-top: 20px;
}
.invite p{
  font-size: 31px;
  margin:20px 0 30px 20px;

}
.news-box ul li{
  color: #055D80;
}
.profile{
  width: 82.67%;
  height:81.88%;
}
.request{
  margin-left: 21.66%;
  height:39.35%;
  width: 42.46%;
  background-color: white ;
  display: inline-block;
}
.cant{
  padding: 6px 10px 6px 10px;
}
.cant_1{
display: inline-block;
margin-bottom: 10px;
}
.cant_2{
display: inline-block;
margin-left: 8px;
width: 39.58%;
height: 38.23px;
line-height: 1rem;


}
.cant_2 i{
  font-size:18px;
  line-height: 1.5rem;
}

.cant_3{
display: inline-block;
text-align: right;
margin-left: 24.509%;
}
.cant_11{
  font-size: 24px;
  color: #055D80;
}
svg{
  height: 42px;
  width: 43px;
}
.card-body button[type="button"] {
border-radius: 25px 25px 25px 25px;
width: 100%;
font-size: 17px;
}
.cards1{
  width: 100%;
padding-left: 22.45%;
padding-right:20.5%;
margin-top: 10px;
}
.news-box{
background-color: white ;
width:100%;
height:17.90%;
}
.news-box p{
  padding:15px 0 10px 22px;
  margin-bottom:-5px;
  font-size: 20px;
}
/* .news-box1{
width: 178.52px;
height: 179px;
} */
.news-box1 ul li{
  margin-bottom:-13px;
  margin-top:-5px;
}
.news-box1 ul li i{
  margin-left: -8px;
  color:black;
  font-size:14px;
}
.news-box1 ul i{
  margin-left:-8px;
  font-size:12px;
}
.news-box1 ul ul a{
color:#055D80;
margin-left:-65px;
margin-top:-5px;
font-size:14px;
}


.blog{
  background-color: white ;
  width:100%;
  margin-top: 10px;
}
.blog p{
  padding:15px 0 0px 15px;
  font-size: 20px;
}
.blog1{
margin-left: 15px;
margin-top: 10px;
}
.blog1 ul{
  padding: 0px;
}
.blog1 ul li{
  list-style: none;
  padding: 0px;
}
.blog2{

  height:39.1px;

  margin-top: 3px;

}
.blog2 ul li{
  font-size:15px;
  margin-bottom:-10px;
}
.blog2 ul i{
  font-size:11px;
}
.show-more ul a{
  color:#055D80;
  margin-left:-18px;
  margin-top:-5px;
  font-size:18px;
  margin-bottom: 20px;
}

.card{
  text-align: center;
  margin: 10px -10px 10px -10px;
  height:335px;

}
.card_heading{
  font-size: 24px;
  margin:-5px 0 0 0px;
}
.card-img-top{
  height:100px;
}
.card-text{
  font-size: 12px;
  line-height: 1.5rem;
}
.picture{
  width: 120px;
  height:120px;
margin-bottom: 10px;
}
.picture,.profile{
  border-radius: 75px 75px 75px 75px;
}
.card-body{
  position: absolute;
  margin-top: 15px;
  line-height: 1rem;
}
.card-body p{
  margin: 5px 0 10px 0;
  font-size:20px;
}
.card-img-top{
 position: relative;
}
footer{
 padding-left: 21.46%;
 padding-right:23.46%;
 margin-top: 30px;
width:100%;
 background-color:white;
 padding-top: 30px;
}
.contact-detail{
  margin:20px 0 0 -20px;
}
footer i{
  font-size: 16px;
}
footer img{
  width:120px;
  height: 40px;
  margin:22px 0 0 -20px;
}
footer p{
  font-size: 23px;
  margin-top: 30px;
}
.social-icon{
  margin: 0 15px 0 0;
}
@media(min-width: 1751px){
  .navbar{
    height: 60px;
  }
  .form-inline a li{
margin-left: 50px;
  }
  .news-box1 ul li i{
    font-size: 16px;
  }
  .invite p{
    font-size: 28px;
  }
  .cant_2 i{
    font-size:16px;
    line-height: 1.5rem;
  }
  .cant_3{
  margin-left: 20.509%;
  }

  .cant_11{
    font-size: 24px;
    color: #055D80;
    margin-bottom: 10px;
  }
  .blog2 ul li{
    font-size:14px;

  }
  .blog2 ul i{
    font-size:12px;
  }
  .card-body button[type="button"] {
  font-size: 17px;
  }
  .news-box p{
    font-size: 19px;
  }
  .news-box1 ul li i{
    font-size:13px;
  }
  .news-box1 ul i{
    font-size:13px;
    line-height: 1.5rem;
  }
  .news-box1 ul ul a{
  font-size:17px;
  }
  .blog p{
    font-size: 19px;
  }


  .card{
    text-align: center;
    height:325px;
  }
  .card_heading{
    font-size: 27px;
  }
  .card-img-top{
    height:100px;
  }
  .card-text{
    font-size: 14px;
  }
  .show-more ul a{
    font-size:17px;
  }
  .picture{
    width: 100px;
    height:100px;
  margin-bottom: 10px;
  }
  .card-body p{
    font-size:19px;
  }
  footer{
    width: 100%;
  }
  footer i{
    font-size: 18px;
  }
  footer p{
    font-size: 28px;
  }

}
@media(min-width: 1500px) and (max-width:1750px){
  .navbar{
    height: 50px;
  }
  .form-inline a li{
margin-left: 30px;
  }
  .news-box1 ul li i{
    font-size: 16px;
  }
  .invite p{
    font-size: 28px;
  }
  .cant_2 i{
    font-size:16px;
    line-height: 1.5rem;
  }
  .cant_3{
  margin-left: 20.509%;
  }

  .cant_11{
    font-size: 24px;
    color: #055D80;
    margin-bottom: 10px;
  }
  .blog2 ul li{
    font-size:14px;

  }
  .blog2 ul i{
    font-size:12px;
  }
  .card-body button[type="button"] {
  font-size: 17px;
  }
  .news-box p{
    font-size: 19px;
  }
  .news-box1 ul li i{
    font-size:13px;
  }
  .news-box1 ul i{
    font-size:13px;
    line-height: 1.5rem;
  }
  .news-box1 ul ul a{
  font-size:17px;
  }
  .blog p{
    font-size: 19px;
  }


  .card{
    text-align: center;
    height:325px;
  }
  .card_heading{
    font-size: 27px;
  }
  .card-img-top{
    height:100px;
  }
  .card-text{
    font-size: 14px;
  }
  .show-more ul a{
    font-size:17px;
  }
  .picture{
    width: 100px;
    height:100px;
  margin-bottom: 10px;
  }
  .card-body p{
    font-size:19px;
  }
  footer{
    width: 100%;
  }
  footer i{
    font-size: 18px;
  }
  footer p{
    font-size: 28px;
  }

}
@media(min-width: 1256px) and (max-width:1499px){
  .navbar{
    height: 50px;
  }
  .navbar-brand{
  padding-left:20.46%;
  }
  .form-inline{
  padding-right: 18.34%;
  }
  .collapse ul li{
    width:220.8px;
  }
  .news-box1 ul li i{
    font-size: 14px;
  }
  .invite p{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;

  }
  .profile{
    width: 62.67%;
    height:63.88%;
    margin-top: -10px;
  }
  .cant_2 i{
    font-size:13px;
    margin-left: -30px;
  }
  svg{
    height: 33px;
    width: 34px;
  }
  .cant_3{
  margin-left: 19.509%;
  }
  .cant_11{
    font-size: 22px;
    color: #055D80;
    margin-bottom: 10px;
  }
  .card-body button[type="button"] {
  font-size: 21px;
  }
  .news-box p{
    font-size: 18px;
  }
  .news-box1 ul li i{
    font-size:11px;
  }
  .news-box1 ul i{
    font-size:10px;
  }
  .news-box1 ul ul a{
  font-size:14px;
  }
  .blog2 ul li{
    font-size:12px;

  }
  .blog2 ul i{
    font-size:10px;
  }
  .blog p{
    padding:15px 0 0px 15px;
    font-size: 18px;
  }
  .blog2{
    height:39.1px;
  }
  .card_heading{
    font-size: 21px;
  }
  .card-img-top{
    height:90px;
  }
  .card-text{
    font-size: 14px;
  }
  .picture{
    width: 80px;
    height:80px;
  margin-bottom: 10px;
  }
  .card-body p{
    font-size:16px;
  }
  .card-text{
    font-size: 11px;

  }
  .card{
    height:280px;
  }
  .show-more ul a{
    font-size:14px;
  }
  .card-body button[type="button"] {
  font-size: 13px;
  }
  footer{
    width: 100%
  }
  footer i{
    font-size: 13px;
  }
  footer p{
    font-size: 18px;
  }
}
@media(min-width: 995px) and (max-width:1255px){
   .navbar{
     height: 50px;
   }
  .navbar-brand{
  padding-left:12.46%;
  }
  .form-inline{
  padding-right: 8.34%;
  }
  .secound{
    margin-right: 10.66%;
  display: inline-block;
  width:24.65%;
  background-color:#e6e6e6;
  float: right;
  }
  .request{
    margin-left: 14.66%;
    height:39.35%;
    width: 48.46%;
    background-color: white ;
    display: inline-block;
  }
  .cards1{
    width: 100%;
  padding-left: 15.9%;
  padding-right:19.8%;
  margin-top: 10px;
  }
  .fa-angle-right{margin-left:0px;}
  .news-box1 ul li i{
    font-size: 10px;
  }
  .invite p{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;

  }
  .profile{
    width: 60.67%;
    height:60.88%;
  }
  .cant_2 i{
    font-size:12px;
    margin-left: -40px;
  }
  svg{
    height: 33px;
    width: 34px;
    margin-left: 50px;
  }
  .cant_3{
  margin-left: 8%;
  }
  .cant_11{
    font-size: 14pt;
    color: #055D80;
    margin-bottom: 10px;
  }
  .card-body button[type="button"] {
  font-size: 18px;
  }
  .news-box1{
    margin-left: -15px;
  }
  .news-box p{
    font-size: 16px;
  }
  .news-box1 ul li i{
    font-size:11px;
  }
  .news-box1 ul i{
    font-size:10px;
  }
  .news-box1 ul ul a{
  font-size:12px;
  }
  .blog2 ul li{
    font-size:11px;

  }
  .blog2 ul i{
    font-size:10px;
  }
  .blog p{
    padding:15px 0 0px 15px;
    font-size: 16px;
  }
  .blog2{
    height:39.1px;
  }

  .card_heading{
    font-size: 20px;
  }
  .card-img-top{
    height:70px;
  }
  .card-text{
    font-size: 9px;
  }
  .picture{
    width: 80px;
    height:80px;
  margin-bottom: 10px;
  }
  .card-body p{
    font-size:15px;
  }

  .card{
    height:280px;
  }
  .show-more ul a{
    font-size:12px;
  }
  .card-body button[type="button"] {
  font-size: 13px;
  }
  footer{
    width: 100%;
    padding-left: 14.46%;
    padding-right:20.46%;
  }
  footer i{
    font-size: 10px;
  }
  footer p{
    font-size: 18px;
  }
}


@media(min-width: 200px) and (max-width:994px) {
  .navbar-brand{
  padding-left:0px;
  }

  .navbar{
    width: 1280px;
  }
  .brand{
    width: 140px;
    height: 70px;
  }
  .main1{
    width: 1280px;
  }
  .form-inline{
  padding-right: 8.34%;
  }
  .news-box1 ul li i{
    font-size: 10px;
  }
  .invite p{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .request{
    margin-left: 0%;
    height:0;
    width: 0px;
  }
  .secound{
    margin-right: 0px;
  display: inline-block;
  width:0px;
  background-color:#e6e6e6;
  float: right;
  }
  .profile{
    width: 60.67%;
    height:60.88%;
  }
  .cant_2 i{
    font-size:12px;
    margin-left: -40px;
    line-height: 2rem;
  }
  svg{
    height: 33px;
    width: 34px;
  }
  .cant_3{
  margin-left: 8%;
  }
  .cant_11{
    font-size: 14pt;
    color: #055D80;
    margin-bottom: 10px;
  }
  .card-body button[type="button"] {
  font-size: 18px;
  }
  .news-box1{
    margin-left: -15px;
  }
  .news-box p{
    font-size: 14px;
  }
  .news-box1 ul li i{
    font-size:9px;
  }
  .news-box1 ul i{
    font-size:8px;
  }
  .news-box1 ul ul a{
  font-size:12px;
  }
  .blog2 ul li{
    font-size:9px;

  }
  .blog2 ul i{
    font-size:8px;
  }
  .blog p{
    padding:15px 0 0px 15px;
    font-size: 14px;
  }
  .blog2{
    height:39.1px;
  }

  .card_heading{
    font-size: 20px;
  }
  .card-img-top{
    height:70px;
  }
  .card-text{
    font-size: 9px;
  }
  .picture{
    width: 80px;
    height:80px;
  margin-bottom: 10px;
  }
  .card-body p{
    font-size:15px;
  }

  .card{
    height:280px;
  }
  .show-more ul a{
    font-size:15px;
  }
  .card-body button[type="button"] {
  font-size: 13px;
  }
  footer{
   padding-left: 20px;
   padding-right:20px;
  }
  footer i{
    font-size: 9px;
  }
  footer p{
    font-size: 14px;
  }
  .profile1{
    margin-left:400.54px;
  }
  .profile2{
    width:34.98px;
    height:46px;

  }
  .network2{
    width:58.02px;
    height:46px;
  }
  .chat2{
    width:42.76px;
    height:46px;
      }
  .blog4{
    width:42.76px;
    height:46px;
  }
  .settings2{
    width:42.76px;
    height:46px;
  }

  .pro{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  .form-inline a li p{
    font-size:20px;
  }
  .form-inline a li{
    margin-left: 100px;
  }
.collapse ul li{
  margin-left: 330px;
  margin-bottom: 10px;

}
.fa-search{
  margin-bottom: -30px;
}
.secound{
width: 355.2px;
margin-left:0px;
}
.middle{
padding-left: 0px;
padding-right: 0px;
}
.invite p{
  font-size: 50px;
  margin:30px 0 50px 35px;
}
.fa-angle-right{
  font-size: 45px;
  margin: 30px 0px 0 30px;
}
.profile{
  width: 150px;
  height: 150px;
  margin-top: -40px;

}
.request{
  height:1000.96px;
  width: 870px;
  margin-left: 15px;
}
.cant_0{
  margin-top: 70px;
  margin-bottom: -60px;
}
.cant{
  margin-top: -10px;
}

.cant_2{
width: 520.18px;
height: 38.23px;
line-height: 1rem;
}
.cant_2 i{
  font-size:30px;
  margin-left:20px;
}
.cant_3{
margin-left: 0px;
height: 150px;
}
svg{
  width: 70px;
  height: 70px;
  margin-top: -30px;
}
.cant_11 a{
  color: #055D80;
  font-size: 35px;
}
.card_heading{
  font-size: 42px;
  margin:30px 0 0 0px;
}

.cards{

}
.cards1{
padding-left: 30px;
padding-right: 90px;
}
.news-box{
width:345.2px;
height: 460.04px;
}
.news-box p{
  padding:30px 0 10px 20px;
  margin-bottom:20px;
  font-size: 38px;
}
.news-box1{
width: 345.52px;
height: 390px;
}
.news-box1 ul li i{
  margin-left: 0px;
  font-size:22px;
}
.news-box1 ul i{
margin-left:0px;
  font-size:20px;
}
.news-box1 ul ul a{
margin-left:-57px;
margin-top:0px;
font-size:24px;
}
.blog{
  width:345.2px;
  height: 350.24px;
}
.blog p{
padding:30px 0 10px 15px;
  font-size: 38px;
}
.blog2{
  width:340.54px;
  margin-top: 20px;
}
.blog ul a{
  line-height: 1rem;
}
.blog2 ul li{
  font-size:20px;
}
.blog2 ul i{
  font-size:18px;
}
.show-more ul a{
  margin-left:-16px;
  margin-top:24px;
  font-size:24px;
}
.card{
  height: 550px;
}
.card-text{
  font-size: 25px;
  line-height: 2.5rem;
  color: #404040;
}
.picture{
  width: 160px;
  height:160px;
margin-bottom: 30px;
}
.picture,.profile{
  border-radius: 75px 75px 75px 75px;
}
.card-body{
  position: absolute;
  margin-top: 50px;
  line-height: 1rem;
}
.card-body p{
  margin: -5px 0 30px 0;
  font-size: 35px;
}
.card-img-top{
 height:150.56px;
}
footer{

 margin-top: 30px;
width:1280px;
 padding-top: 20px;
}
footer i{
  font-size: 18px;
}
footer img{
  width:150px;
  height: 50px;

}
footer i{
  font-size: 30px;
  color: gray;
}
footer p{
  font-size: 35px;
  margin-top: 30px;
}
.contact-detail{
  margin:20px 0 0 -20px;
}

}
.social-icon{
  margin: 0 15px 0 0;

}
